.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  background-color: #ffffff;
  gap: 2rem;
  position: relative;
  overflow-y: hidden;
}

.heroTitle {
  font-size: 5.4rem;
  color: #333;
  z-index: 3;
}

.heroDescription {
  font-size: 2rem;
  color: #666;
  text-align: center;
  z-index: 3;
}

.heroImage:nth-child(1) {
  position: absolute;
  bottom: 60%;

  left: 22%;
  transform: translateX(-50%) translateY(50%) rotate(-10deg);
  object-fit: cover;
  width: 13rem;
  height: 13rem;
  /* animation: repeatImg 4s ease-in-out infinite; */
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}

.heroImage:nth-child(1):hover {
  transform: scale(1.03) translateX(-50%) translateY(50%) rotate(-10deg);
  animation-play-state: paused;
}

.heroImage:nth-child(2) {
  position: absolute;
  top: 30%;
  right: 12%;
  transform: translateX(-50%) translateY(50%) rotate(20deg);
  object-fit: cover;
  width: 13rem;
  height: 13rem;
  /* animation: repeatImg2 4s ease-in-out 1s infinite; */
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}

.heroImage:nth-child(2):hover {
  transform: scale(1.03) translateX(-50%) translateY(50%) rotate(20deg);
  animation-play-state: paused;
}
/* ===========================
About Section
==============================*/

.About {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: #ffffff;
  min-height: 100dvh;
}
.AboutParagraft {
  font-size: 4rem;
  font-weight: 700;
  color: #666;
  text-align: center;
  max-width: 80rem;
}

.SVGAbout {
  width: 14rem;
}

/* ===========================
Features Section
==============================*/

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background-color: #ffffff;
  min-height: 100dvh;
}
.featuresImage {
  flex-basis: 60%;
  text-align: center;
}
.featuresImage1 {
  width: 80%;
}

.featuresContent {
  align-self: flex-start;
  font-size: 2rem;
  flex-basis: 40%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  border-left: 0.6rem dotted #a3dc9a;
  gap: 1.5rem;
  transition: background-color 0.5s ease-in-out;
}
.featuresContent:hover {
  background-color: #e0f7e0;
}

.featuresTitle,
.featuresTitleTwo {
  color: #333;
}

.featuresDescription,
.featuresDescriptionTwo {
  color: #666;
}

.featuresIcon {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.featuresIcon:hover {
  transform: rotate(-30deg) scale(1.1);
}

.featuresTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background-color: #ffffff;
  min-height: 100dvh;
}

.featuresContentTwo {
  align-self: flex-start;
  font-size: 2rem;
  flex-basis: 40%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  border-right: 0.6rem dotted #a3dc9a;
  gap: 1.5rem;
  transition: background-color 0.5s ease-in-out;
}
.featuresContentTwo:hover {
  background-color: #e0f7e0;
}

.featuresImageTwo {
  flex-basis: 60%;
  text-align: center;
}

/* SVG Styles */

.featuresImageSVG {
  width: 20rem;
}

.featuresImageSVGTwo {
  width: 15rem;
}
.SVGPathEye {
  animation: eyeAnimation 2s ease-in-out infinite alternate;
}

.SVGPathIdea {
  animation: slowMove 2s ease-in-out infinite alternate;
}

.SVGPathLine {
  animation: slowMovePathLine 2s ease-in-out infinite alternate;
  animation-delay: 1s;
}

@keyframes slowMovePathLine {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slowMove {
  0% {
    transform: translateY(1.5rem) translateX(1.3rem);
  }
  50% {
    transform: translateY(1rem) translateX(1.3rem);
  }
  100% {
    transform: translateY(1.5rem) translateX(1.3rem);
  }
}

@keyframes eyeAnimation {
  0% {
    fill: #000000;
  }
  50% {
    fill: #000000;
  }
  52% {
    fill: transparent;
  }
  56% {
    fill: #000000;
  }
  100% {
    fill: #000000;
  }
}

/* @keyframes repeatImg {
  0% {
    bottom: 55%;
  }
  50% {
    bottom: 60%;
  }
  100% {
    bottom: 55%;
  }
}

@keyframes repeatImg2 {
  0% {
    top: 25%;
  }
  50% {
    top: 30%;
  }
  100% {
    top: 25%;
  }
} */
